# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas

import pandas as pd
import numpy as np

# Challenge 1 - Index Functions

In this challenge, we will practice the advanced functions introduced in the lesson. However, before we start, we will load and evaluate our dataset.

In [ ]:
# Run this code:

admissions = pd.read_csv('../Admission_Predict.csv')
#to remove trailing spaces at the end of the column names
admissions.columns = admissions.columns.str.rstrip()

Let's evaluate the dataset by looking at the `head` function.

In [ ]:
# Your code here:

admissions.head()

Before beginning to work with this dataset and evaluating graduate admissions data, we will verify that there is no missing data in the dataset. Do this in the cell below.

In [ ]:
# Your code here:

admissions.isnull() # se me crea una tabla con valores True/False. True = hay datos ausentes. False = hay dato

admissions.isnull().sum() #me cuenta el número de datos nulos que hay en cada fila

Interestingly, there is a column that uniquely identifies the applicants. This column is the serial number column. Instead of having our own index, we should make this column our index. Do this in the cell below. Keep the column in the dataframe in addition to making it an index.

In [ ]:
# Your code here:

admissions.index = admissions["Serial No."]
admissions.head()

In [ ]:
# con esto lo que hago es reasignar el índice a la columna serial number pero eliminando una de ellas

admissions.set_index('Serial No.')

Turns out that `GRE Score` and `CGPA` also uniquely identify the data. Show this in the cell below.

In [ ]:
# Your code here:

admissions["CGPA"].value_counts()
admissions["GRE Score"].value_counts()[:10]

admissions[["GRE Score", "CGPA"]]

Replace the index with an index comprised of two columns - `GRE Score` and `CGPA`. Remove the columns from the dataset as well. Make sure to use `inplace=True`.

In [ ]:
admissions['Concatenated'] = admissions['GRE Score'].astype(str) + '-' + admissions['CGPA'].astype(str)

admissions.set_index("Concatenated", inplace = True, drop = True)

admissions.head()

Now change the index back to a sequence starting at zero using the `reset_index` function. Make sure to use `inplace=True`.

In [ ]:
# Your code here:

admissions.reset_index(inplace = True)
admissions

# Challenge 2 - Advanced Functions

In this part of the lab, we would like to test complex conditions on the entire dataset at once. Let's start by finding the number of rows where the CGPA is higher than 9 and the student has conducted research.

In [2]:
##VUELVO  CARGAR EL DATASET PORQUE EN LOS EJERCICIOS ANTERIORES ME CARGUÉ ALGUNAS COLUMNAS#
admissions = pd.read_csv('../Admission_Predict.csv')
admissions.columns = admissions.columns.str.rstrip()
################################################################################################


# Your code here:

CGPA_9 = admissions["CGPA"] > 9 #con esto genero una lista de True/False
research = admissions["Research"] == 1

admissions[CGPA_9][:5] #con esto saco en pantalla las filas con los valores de CGPA > 9
admissions[research][:5]

CGPA_9 & research #lista de booleanos

admissions[CGPA_9 & research] [:5] # saco las 5 primeras filas donde se cumplan las dos condiciones a la vez.

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
4,5,330,115,5,4.5,3.0,9.34,1,0.90
10,11,328,112,4,4.0,4.5,9.10,1,0.78
19,20,328,116,5,5.0,5.0,9.50,1,0.94
20,21,334,119,5,5.0,4.5,9.70,1,0.95

Now return all the rows where the CGPA is greater than 9 and the SOP score is less than 3.5. Find the mean chance of admit for these applicants.

In [ ]:
# Your code here:

We would like to create a deciding factor column for each student. We standardize several columns and then pick the most important factor from a lookup table. If the standardized value is above 0.8, the student will be accepted.

We will start by creating a standardized column for `CGPA`, `GRE Score` and `LOR`. We will name these columns `CGPA_std`, `GRE_std`, and `LOR_std` respecively.

Recall that standardizing a column is done by subtracting the mean of the column from all observations in the column and then dividing each observation in the column by the column's standard deviation.

In the cell below, write a standardization function (a function that takes a column as input and returns a standardized column as output). Make sure to use the `numpy` versions of mean and standard deviation.

In [ ]:
def standardize(col):
    # This function takes a column from a dataframe and returns a standardized column by subtracting the column's mean
    # and dividing by the column's standard deviation.
    
    # Your code here:

Now create the standardized columns `CGPA_std`, `GRE_std`, and `LOR_std` and add them to the `admissions` dataframe.

In [ ]:
# Your code here:

We will generate the decision choice at random using the code below. Please run the cell.

In [ ]:
# Run this code:

from random import choices
std_columns = ['CGPA_std', 'GRE_std', 'LOR_std']

decision_choice = choices(std_columns, k=admissions.shape[0])

Now create the deciding column using the `lookup` function. The lookup column is `decision_choice` found above. Call the column resulting from the lookup function `deciding_column` and add it to the `admissions` dataframe.

In [ ]:
# Your code here:

Create a column called `decision` in the `admissions` dataframe. Assign 1 to this column if the value of `deciding_column` is greater than 0.8 and 0 otherwise.

In [ ]:
# Your code here:

How many applicants will be accepted to the program using the decision column? Compute the result below.

In [ ]:
# Your code here:

# Challenge 3 - Method Chaining

To increase our coding efficiency, let's make a number of changes to our dataframe in one line of code.

In the cell below, remove all non character symbols from the column names, replace all spaces in column names to underscores, and change all upper case characters to lower case. Assign these new column values to `admissions.columns`.

In [ ]:
# Your code here:

In the cell below, give all student with a university rating of 4 or higher a 10 point boost on their GRE score and split the column into 4 bins using the `cut` function. Assign this new score to the variable `adjusted_gre`.

In [ ]:
# Your code here: